body {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    /*width: 410px;*/
}

.slide {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s;
}


.images-wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.play {
    display: inline-block;
    margin-top: 400px;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

.play:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.play:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.stop-playing {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

.stop-playing:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.stop-playing:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}


.hide {
    opacity: 0;
    transition: opacity 0.5s;
}

.timer-styles {
    width: 60px;
    background-color: #D77206;
    color: white;
    font-weight: bold;
    align-self: center;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    margin-left: 5px;
}